.ex-1-square:hover {
    transition: all 3s ease 0s;
    background-color: red;
}

.ex-2-square:hover {
    transition: all 3s ease 0s;
    width: 100%;

}

.ex-3-square:hover {
    transition: all 3s ease 0s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: all 3s ease 0s;
    opacity: 0;
    /* display: none; */
}

.ex-5-square:hover {
    transition: all 3s ease 0s;
    transform: scale(2);
}

.ex-5-square:active {
    transition: all 3s ease 0s;
    transform: scale(0.5);
}


#saturate:hover {
    filter: saturate(0);
}

#sfuma-satura:hover {
    transition: all 2s ease 0s;
    filter: saturate(0);
    opacity: 0.5;
}

#sfuma-sepia-stonda:hover {
    transition: all 2s ease 0s;
    filter: sepia(1);
    opacity: 0.5;
    border-radius: 20px;
}

#sfuma-sepia-stonda-scala:hover {
    transition: all 2s ease 0s;
    filter: sepia(1);
    opacity: 0.5;
    border-radius: 20px;
    transform: scale(0.5);

}


#antiorario {
    animation-name: antiorario;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes antiorario {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#orario:hover {
    animation-name: orario;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes orario {

    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(90deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(-270deg)
    }
}